In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
a, b = 3 ,3
print(a>b, a>=b, a%b, a**b, type(a))

False True 0 27 <class 'int'>

In [3]:
a, b = 'hello', 'hello "world"'
print(a, b, a[-1], a.upper(), sep='*')

hello*hello "world"*o*HELLO

In [4]:
a= "hello".replace('h', 'hhh').upper()
print(a)

HHHELLO

In [5]:
b = 'hello "world"'
print(b[:], b[:2], b[1:3], b[3:])

hello "world" he el lo "world"

In [6]:
c = 1, 2, 3
d = list(c)
print(c, d)

(1, 2, 3) [1, 2, 3]

In [7]:
a = [1, 2, 3, 4, 5]
a.remove(2)
print(a)

[1, 3, 4, 5]

In [8]:
a = [1, 2, 3, 4, 5]
b = 4
c = b in a
print(c)

True

In [9]:
a = {100:2, 200:3, 300:'seoul', 0:'korea'}
print(type(a), a[0], a.keys(), a.values())

<class 'dict'> korea dict_keys([100, 200, 300, 0]) dict_values([2, 3, 'seoul', 'korea'])

In [10]:
a = {1:2, 3:4, 5:6, 7:8}
c = 2 in a
print(c, a.get(3))

False 4